@font-face {
  font-family: 'Ranchwater';
  src: url('https://cdn.shopify.com/s/files/1/0247/4757/3338/files/ranchwater-webfont.woff?v=1728542581') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}